.fundoHome{
    background: url(../../assets/background.png) lightgray 50% / cover no-repeat;
    width: 98vw;
    height: 125vh;
    flex-shrink: 0;
    aspect-ratio: 1487.87/992.40;
}

.lancamentos{
    width: 27vw;
    color: #E6E1DB;
    font-family: Italiana;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 70vw;
    margin-top: 10vh;
    transition: 0.6s;
}

.lancamentos:hover{
    font-size: 3.3vw;
    transition: 0.6s;
}

.arrow{
    position: absolute;
    top: 120vh;
    left: 45vw;
    width: 5vw;
    height: 3vh;
    flex-shrink: 0;
    transition: 1s;
}

.fundoAboutUs{
    width: 98vw;
    height: 105vh;
    background: linear-gradient(180deg, #E67B6E 11.6%, #D16E4D 45.6%, #F5AC76 100%);
    display: flex;
    justify-content: space-between;
}

.retangulo{
    width: 50vw;
    height: 105vh;
    background: #E6E1DB;
    border-radius: 1vw;
}

.tituloAboutUs{
    color: #59291B;
    font-family: 'Italiana';
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 4vw;
}

.textoAboutUs{
    color: #59291B;
    font-family: Poppins;
    font-size: 2vw;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 40vw;
    height: 35vh;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    padding: 4vw;
}

.imageAboutUs{
    border-radius: 3vw;
    width: 50vw;
    height: 70vh;
    margin-top: 20vh;
    margin-right: 3vw;
    margin-left: 2vw;
    z-index: 1;
    transition: 1s;
    background: url(../../assets/candle2.webp) lightgray 50% / cover no-repeat;
    background-position: bottom;
}

.imageAboutUs:hover{
    transition: 1s;
    background: url(../../assets/candle.avif) lightgray 50% / cover no-repeat;
    background-position: bottom;
}
